! urxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=12
! #include "/home/renault/.Xresources.d/solarized"
#include "/home/renault/.Xresources.d/colors.mine"
!#include "/home/renault/.Xresources.d/colors.tango"
#include "/home/renault/.Xresources.d/urxvt"
#include "/home/renault/.Xresources.d/gnuplot"
#include "/home/renault/.Xresources.d/gui"
#include "/home/renault/.Xresources.d/xft"
#include "/home/renault/.Xresources.d/rofi"
